<!DOCTYPE html>
<html>
	<head>
		<title><%= get_title %></title>
		<link rel="Stylesheet" href="<%= settings.css_url %>css/bootstrap.min.css" />
		<link rel="Stylesheet" href="<%= settings.root_url %>css/site.css" />
		<script type="text/javascript" src="<%= settings.css_url %>js/jquery.min.js"></script>
		<script type="text/javascript" src="<%= settings.css_url %>js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="<%= settings.root_url %>"><%= settings.base_title %></a>
				<ul class="nav">
					
				</ul>
			</div>
		</div>
		<div class="container" id="main">
			<div class="content">
				<%= yield %>
			</div>
		</div>
		<footer>
			Copyright &copy; <%= Time.new.year %>
		</footer>
	</body>
</html>