<!DOCTYPE html>
<html>
	<head>
		<title><%= get_title %></title>
		<link rel="Stylesheet" href="<%= settings.css_url %>css/bootstrap.min.css" />
		<link rel="Stylesheet" href="<%= settings.root_url %>css/site.css" />
		<script type="text/javascript" src="<%= settings.css_url %>js/jquery.min.js"></script>
		<script type="text/javascript" src="<%= settings.css_url %>js/bootstrap.min.js"></script>
	</head>
	<body>
		<%= yield %>
		<footer>
			Copyright &copy; <%= Time.new.year %> - <a href="https://github.com/apusateri/davescabinet" target="_blank">View on GitHub</a>
		</footer>
	</body>
</html>